{% extends 'registration/layout.html' %}
{% load widget_tweaks %}

{% block title %}لاستعادة كلمة المرور أدخل بريدك الاليكتروني{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group text-right"">
        {% csrf_token %}
        <label for="email" class="mb-3">البريد الإلكتروني</label>
        {{ form.email|add_class:"form-control mb-3" }}  <!-- Add form-control class for Bootstrap styling -->
    </div>
    <button class="btn btn-block text-center my-3">ارسل بريدك الاليكتروني</button>
</form>
{% endblock %}
