






<table style="border-collapse: collapse; width: 25%; height: 90%; margin: auto; border: 1px solid black;">
          
    <tr>
        <td rowspan="3" class="first_line">السداسي</td>
        <td colspan="2" class="first_line">وحدات التعليم</td>
       
        <td colspan="3" class="first_line">المواد المكونة لوحدة التعليم</td>
        
        <td colspan="9" class="first_line">النتائج المحصل عليها</td>
        
    </tr>
    <tr>

        <td rowspan="2" class="second_line">الطبيعة</td>
        <td rowspan="2" class="second_line">الرمز</td>
        <td rowspan="2" class="second_line">العنوان</td>
        <td rowspan="2" class="second_line">الأرصدة</td>
        <td rowspan="2" class="second_line">المعامل</td>

        <td colspan="3" class="second_line">المواد</td>
        
        <td colspan="3" class="second_line">وحدات التعليم</td>
       
        <td colspan="3" class="second_line">السداسي</td>
        
    </tr>
    <tr>
        
        <td class="third_line">النقطة</td>
        <td class="third_line">الدورة</td>
        <td class="third_line">المعدل</td>
        <td class="third_line">الأرصدة</td>
        <td class="third_line"> الدورة</td>
        <td class="third_line">المعدل</td>
        <td class="third_line">الأرصدة</td>
        <td class="third_line">الدورة</td>
        
    </tr>
    <tr>
        <td rowspan="number of all subjects" class="semestre">الثالث</td>
        <td rowspan="number of subject of this unity">الأساسية</td>
        <td rowspan="number of subject of this unity">UEF3</td>
        <td>تكنولوجيا الإعلام والاتصال</td>
        
        <td>9</td>
        <td>4</td>
        <td>18</td>
        <td>العادية</td>
        <td rowspan="number of subject of this unity">14</td>
        <td rowspan="number of subject of this unity">18</td>
        <td rowspan="number of subject of this unity">العادية</td>
        <td rowspan="number of all subjects">14</td>
        <td rowspan="number of all subjects">30</td>
        <td rowspan="number of all subjects">العادية</td>
    </tr>
    <tr>
        <td>تحليل اشكالية البحث</td>
        
        <td>3</td>
        <td>2</td>
        <td>12</td>
        <td>لعادية</td>
        
    </tr>
    <tr>
        <td>تاريخ علوم الأحياء</td>
        
        <td>3</td>
        <td>2</td>
        <td>10</td>
        <td>لعادية</td>
        
    </tr>
    <tr>
        <td>تاريخ علوم الأرض</td>
        <td>3</td>
        <td>2</td>
        <td>12</td>
        <td>لعادية</td>
        
    </tr>
    <tr>
        <td rowspan="number of subject of this unity">المنهاجية</td>
        <td rowspan="number of subject of this unity">UEM3</td>
        <td>تحليل مرجعي علم الأحياء</td>
        
        <td>4</td>
        <td>2</td>
        <td>13</td>
        <td>العادية</td>
        <td rowspan="number of subject of this unity">14,13</td>  
        <td rowspan="number of subject of this unity">8</td>
        <td rowspan="number of subject of this unity">العادية</td>
        
       
    </tr>
    <tr>
        
        <td>تحليل مرجعي علم الأرض</td>
        <td>4</td>
        <td>2</td>
        <td>14</td>
        <td>العادية</td>
        
    </tr>
    <tr>
       <td rowspan="number of subject of this unity">الاستكشافية</td>
        <td rowspan="number of subject of this unity">UED3</td>
        <td>أخطار طبيعية</td>
        
        <td>1</td>
        <td>2</td>
        <td>15</td>
        <td>العادية</td>
        <td rowspan="number of subject of this unity">15.5</td>  
        <td rowspan="number of subject of this unity">3</td>
        <td rowspan="number of subject of this unity">العادية</td>
        
    </tr>
    <tr>
        <td>أخطار اصطناعية</td>
        <td>2</td>
        <td>1</td>
        <td>16</td>
        <td>العادية</td>
        
    </tr>
    <tr>
        <td>العرضية</td>
        <td>UET3</td>
        <td>ثروات طبيعية</td>
        <td>1</td>
        <td>1</td>
        <td>14</td>
        <td>العادية</td>
        <td>14</td>
        <td>1</td>
        <td>العادية</td>
        
    </tr>
    <tr>
        <td class="semestre">الرابع</td>
        <td colspan="2">مشروع التخرج</td>
        <td>المذكرة</td>
        <td>30</td>
        <td>1</td>
        <td>18.5</td>
        <td>العادية</td>
        <td>18.5</td>
        <td>30</td>
        <td>العادية</td>
        <td>18.5</td>
        <td>30</td>
        <td>العادية</td>
    </tr>
</table>